@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: all 0.3s ease-in-out;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-color: #343434;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
}

.flex-basis-2 {
	flex-basis: 90%;
}

@media (min-width: 767px) {
	.flex-basis-2 {
		flex-basis: 45%;
	}
}
